# Template toolkit mappings
snippet if
	[% IF ${1} %]
		${2}
	[% END %]
snippet else
	[% ELSE %]
		${1}
snippet elsif
	[% ELSIF ${1} %]
		${2}
snippet [
	[% ${1} %]
snippet unless
	[% UNLESS ${1} %]
		${2}
	[% END %]
